.button-container {
  display: grid;
  grid-template-columns: repeat(50, 14px);
  grid-auto-rows: 14px;
  gap: 0px;
}

.button-container button {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.alive {
  background-color: Green;
}

.dead {
  background-color: White;
}

.mb-2 {
  margin-bottom: 20px;
}

.me-1 {
  margin-right: 10px;
}
